@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../../assets/fonts/GILROY-EXTRABOLD.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy Light';
    src: url('../../assets/fonts/GILROY-LIGHT.TTF') format('truetype');
  }


.container{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    padding: 50px;
    margin: 20px 100px;
}

.containerForm{
    display: grid;
    grid-template-columns: repeat(1, 50%);
    width: 400px;
    padding: 60px;
    margin: 20px 100px;
    background-color: rgba(253, 195, 0, 0.20);
    border-radius: 15px;
}

.tituloForm{
    color: #FDC300;
    font-family: 'Gilroy ExtraBold';
    font-size: 48px;
    font-style: normal;
    line-height: normal;
}

.parrafoForm{
    height: 164px;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    font-family: 'Gilroy Light';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #000;
    font-family: 'Gilroy Light';
    font-size: 1em;
}
/*  width: 100%;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
    

    max-width: 100%;
    width: 300px;*/

.select {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    width: 373px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #000;
    font-family: 'Gilroy Light';
    font-size: 1em;
}

.option {
    width: 20px;
    background-color: transparent;
    padding: 12px 20px;
    margin: 10px;
    align-self: stretch;
    border: 1px solid #000;
    font-family: 'Gilroy Light';
    font-size: 1em;
}

.textarea {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: right;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #000;
    font-family: 'Gilroy Light';
    font-size: 1em;
}

.button{
    display: flex;
    height: 30px;
    padding: 14px 20px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 520px auto auto 150px;
    border-radius: 15px;
    border: 1px solid #000;
    background: rgba(253, 195, 0, 0.40);
    font-family: 'Gilroy Extrabold';
    font-size: 1em;
}

@media (max-width: 1000px) {
    .container{
        display: flex;
        padding: 20px 10px 10px 10px;
        position: relative;
        justify-content: right;
        background-color: rgba(253, 195, 0, 0.20);
        border-radius: 15px;
    }
}