@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../../assets/fonts/FONTSFREE-NET-GILROY-EXTRABOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../../assets/fonts/GILROY-LIGHT.TTF') format('truetype');
}

.info {
  max-width: 100%;
  width: 1280px;
  height: auto;
  margin: 100px auto 0;
  margin-bottom: 0px;
}

.nosotros {
  font-family: 'Gilroy ExtraBold';
  position: relative;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}


.parrafo1 {
  font-family: 'Gilroy Light';
  font-size: 20px;
  text-align: center;
}

.parrafo2 {
  font-size: 20px;
  font-family: 'Gilroy Light';
  text-align: left;
}

.obj {
  font-family: 'Gilroy ExtraBold';
  font-size: 25px;
  margin: 40px 0 40px 0;
}
.image-container {
  padding: 15px; 
}

.info-image {
  width: 100%;
  height: auto;
}

.homme {
  margin-top: 5%;
  width: 30%;
  height: auto;
  left: 0;
  transform: translateX(233%);
}

@media screen and (max-width: 480px) {
  .info {
    padding: 0 50px 0 50px;
  }

  .nosotros {
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: left;
  }

  .grid {
    grid-template-columns: 1fr;
    margin: 10px;
  }
  .info-image {
    width: 574px;
  }

}
