.nosotros{

  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}
.obj {
  font-size: 25px;
}
p {
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  background-size: cover;/* Ajusta el tamaño para cubrir completamente el contenedor */
  background-position: top left, bottom right;
  background-repeat: no-repeat;/* Ajusta el ancho al 100% para ocupar toda la pantalla */
  padding: 0%;
  margin: 0%;/* Margen relativo al ancho de la pantalla */
}

.info-container {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  height: 80vh;
  margin: 10%;
}

.image-container {
  
  display: flex;
  height: 80vh;
  max-width: 1280px; /* Ajusta el ancho al 100% */
  margin: 10%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.info-img {
  max-width: 1280px;
  height: auto;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .info-container,
  .image-container {
    order: 2;
    display: flex;
    max-width: 1280px;
    height: 780px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .image-container {
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.title {
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.subtitle {
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.paragraph {
  font-family: 'Gilroy-Light', sans-serif;
}
