
.title {
    font-family: 'Gilroy-Extrabold', sans-serif; /* Cambia 'Gilroy-Extrabold' según el nombre de tu fuente */
  }
  
  .subtitle {
    font-family: 'Gilroy-Extrabold', sans-serif; /* Cambia 'Gilroy-Extrabold' según el nombre de tu fuente */
  }
  
  .paragraph {
    font-family: 'Gilroy-Light', sans-serif; /* Cambia 'Gilroy-Light' según el nombre de tu fuente */
  }