
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ods-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
  }

  .project {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;

    }
  }

  p.not-found {
    color: red;
    font-style: italic;
  }
}
