@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../../assets/fonts/FONTSFREE-NET-GILROY-EXTRABOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../../assets/fonts/GILROY-LIGHT.TTF') format('truetype');
}

.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  max-width: 100%;
  margin: 250px 100px;
  margin-bottom: 154px;
}

.ods {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  align-items: center;
}

.ods img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}


h1,
h2,
h3 {
  font-family: 'Gilroy ExtraBold';
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 35px;
  margin-top: 100px;
}

h3 {
  font-size: 20px;
  margin-top: -100px;
}

.impact {
  margin-top: 0%;
}


.summaryy {
  font-family: 'Gilroy Light';
  font-size: 25px;
  margin-top: 10px;
}

.image-containerr {
  text-align: center;
}

.image-containerr h3 {
  margin-top: -120px;
  margin-bottom: 5%;
  font-size: 28px;
}

.icon-cards__item img {
  margin: 0 10px;
  display: block;
  width: 100px;
  height: auto;
  margin-bottom: 50px;
}

.icon-cards__item {
  display: flex;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
}

.btnn {
  width: 15%;
  font-family: 'Gilroy ExtraBold';
  padding: 10px;
  cursor: pointer;
  background-color: #050505;
  border: 2px solid #FDC300;
  border-radius: 100px;
  margin: 50px 10px 50px 10px;
}

.btnn:hover {
  box-shadow: 0px -4px 4px 0px rgba(253, 195, 0, 0.40), 0px 4px 4px 0px rgba(253, 195, 0, 0.40);
}

.btna {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  .containerr {
    margin: 50px 0%;
    padding: 0 1px;
    width: 100%;
    box-sizing: border-box;
  }

  .ods img {
    max-width: auto;
    margin-bottom: 50px;
    margin-top: 150px;
  }

  h1 {
    font-size: 60px;
    margin: 30px 0;
  }

  h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    ;
  }

  .impact {
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .impacto {
    font-family: 'Gilroy ExtraBold';
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15%;
  }

  .image-containerr {
    text-align: center;
  }

  .image-containerr h3 {
    margin-top: -70px;
    margin-bottom: 5%;
  }

  .icon-cards__item {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    margin-right: 10px;
    text-align: center;
    justify-content: center;
  }

  .icon-cards__item img {
    margin: 0 5px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
  }

  .btnn {
    width: 30%;
    margin: 30px 10px 30px 10px;
  }

  .btna {
    font-size: 18px;
  }

}

.image-containerr {
  margin-top: 110px;

}

@media only screen and (max-width: 480px) {

  .ods {
    margin-top: 100px;
  }

  .containerr {
    margin: 50px 0%;
    padding: 0 1px;
    width: 100%;
    box-sizing: border-box;
  }

  .ods img {
    width: 80%;
    max-width: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .summaryy {
    font-size: 18px;
  }

  .impact {
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .impacto {
    font-family: 'Gilroy ExtraBold';
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15%;
  }

  .image-containerr {
    text-align: center;
    margin-top: 70px;
  }

  .image-containerr h3 {
    margin-top: -50px;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .icon-cards__item {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    margin-right: 10px;
    text-align: center;
    justify-content: center;
  }

  .icon-cards__item img {
    margin: 0 5px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
  }

  .btnn {
    width: 30%;
    margin: 15px 5px 15px 5px;
  }

  .btna {
    font-size: 18px;
  }
}