.Header{
    background-color: #100F0F;
    display: flex; 
    border: 1px solid #3d3b3b;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    height: 70px;
    width: 100%;
}

.Botones{
    display: flex;
    margin-right: 80px;
    list-style: none;
}

.Botones a{
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold; 
    font-size: 15px;
    transition: .5;
}

#btn1 {
    color:#ffffff;
}
#btn1:hover, #btn2:hover, #btn3:hover {
    color: #f3f3f3;
}

#btn3{
    margin-right: 25px;
}

#btn4 {
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #ffffff;
    padding: 12px 20px;
    border-radius: 20px;
}
#btn4:hover {
    background:  #ffffff;
}

#btn5 {
    font-size: 14px;
    background:  #ffffff;
    border-radius: 20px;
    padding: 12px 20px;
}
#btn5:hover {
    background-color: #B94C4C;
}