@font-face {
  font-family: 'Gilroy Light';
  src: url();
}

.footer{
  width: 100%;
  background-color: #0a141d;
}
.footer .tabla{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 300px;
  justify-content: center;
  
}
.logos {
  top: 0;
  left: 0;
  width: 100%;
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer .tabla h1{
  color: #fff;
  margin-bottom: 25px;
  font-size: 30px;
}

.footer .tabla p{
  color: #efefef;
  margin-bottom: 10px;
  
}
.social-link {
  align-items: center;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  transition: all 300ms ease;
  width: 30px;
  height: 45px;
  line-height: 45px;
  text-align: center;

}
.social-link :hover {
  color: darkgoldenrod;
}
.terminos{
  background-color: #d8d8d8;
  padding: 15px 10px;
  color: black;
  text-align: left;
  justify-content: space-between;
  font-size: smaller;
}
.terminos .policy{
text-align: right;
position: relative;
font-size: smaller;
margin-left: 70%;

}

.content-link {
  color: #fff;
  display: flex;
  text-decoration: none;
  transition: all 300ms ease;
  padding: auto;
  margin-left: auto;
  align-items: flex-start;
  height: auto;
  margin-top: 10px;


}

ul {
  list-style: none;
}
.contact {
  align-items:center;
  padding-right: 0%;
}

@media screen and (max-width: 900px) {
  .footer .tabla{
   align-items: center;
   justify-content: center;
   padding-left: 50px;
   grid-template-columns: repeat(1, 1fr);
   grid-gap:0.2px;
   margin-bottom: 0.5px;
   margin-top: 0.3px;
   padding-bottom: 0.5px;
   height: auto;
    
  }

  .logos img{
    max-width: 30%;
    height: auto;
    margin: auto;
    position: relative;
    
  }
  .terminos{
    
    padding: 10px;
    text-align: left;
    justify-content: space-between;
    font-size: 8px;
  }
  .terminos .policy{
  
  font-size: 8px;
  max-width: 30%;
  margin-left: 40%;
  }

}

@media screen and (max-width: 600px){
  .footer .tabla{
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:0.2px;
    margin-bottom: 0.5px;
    margin-top: 0.3px;
    padding-bottom: 0.5px;
    height: auto;
     
   }
 
   .logos img{
     max-width: 25%;
     height: auto;
     margin: auto;
     position: relative;
     
   }
   .terminos{
     
     padding: 10px;
     text-align: left;
     justify-content: space-between;
     font-size: 8px;
   }
   .terminos .policy{
   
   font-size: 8px;
   max-width: 30%;
   margin-left: 5%;
   }
}
@media screen and (max-width: 480px){
  .footer .tabla{
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:0.2px;
    margin-bottom: 0.5px;
    margin-top: 0.3px;
    padding-bottom: 0.5px;
    height: auto;
     
   }
 
   .logos img{
     max-width: 25%;
     height: auto;
     margin: auto;
     position: relative;
     
   }
   .terminos{
     
     padding: 10px;
     text-align: left;
     justify-content: space-between;
     font-size: 6px;
   }
   .policy{
   
   font-size: 6px;
   max-width: 30%;
   text-align: right;
   padding-left: 10%;
   }
  }

  @media screen and (max-width: 360px){
       
    .policy{
      max-width: 30%;
      padding-left: 4%;
      
      }
  }
  @media screen and (max-width: 1050px){
       
    .terminos .policy{
      font-size: 8px;
      max-width: 30%;
      margin-left: 40%;
        
     
      }
  
  }