/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: gilroy Light;
}*/

@font-face {
  font-family: 'Gilroy Light';
  src: url();
}

.footer{
  width: 100%;
  background-color: #0a141d;
}
.footer .tabla{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 300px;
  justify-content: center;
  
}
.logos {
  top: 0;
  left: 0;
  width: 100%;
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin: auto;
}
.footer .tabla h1{
  color: #fff;
  margin-bottom: 25px;
  font-size: 30px;
}

.footer .tabla p{
  color: #efefef;
  margin-bottom: 10px;
  
}
.social-link {
  align-items: center;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  transition: all 300ms ease;
  width: 30px;
  height: 45px;
  line-height: 45px;
  text-align: center;

}
.social-link :hover {
  color: darkgoldenrod;
}
#derecho{
  background-color: #d8d8d8;
  padding: 15px 10px;
  color: black;
  text-align: left;
  justify-content: space-between;
}
#derecho .policy{
text-align: right;
margin-left: auto;
margin-left: 500px;
align-items: end;
justify-content: right;
}

.content-link {
  color: #fff;
  display: flex;
  text-decoration: none;
  transition: all 300ms ease;
  padding: auto;
  margin-left: auto;
  align-items: flex-start;
  height: auto;
  margin-top: 10px;


}

ul {
  list-style: none;
}
.contact {
  align-items:center;
  padding-right: 0%;
}

@media screen and (max-width: 800px) {
  .footer .tabla{
   display: flex;
   flex-wrap: wrap;
    
  }

  .logos img{
    width: 100%;
   justify-content: center;
  }

}
   