/* ButtonUp.css */

.button-up {
  position: fixed;
  bottom: 15px;
  right: 50%;
  transform: translateX(100%);
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 20.5px 20.5px 20.5px 20.5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;


}

@media screen and (max-width: 1280px) {
  .button{
    margin: 10px; /* Margen más pequeño para dispositivos más pequeños */
    padding: 10px; /* Ajustar el espaciado interno */
    right: 50%; /* Cambiado a 50% para centrar en dispositivos más pequeños */
    transform: translateX(50%); /* Aplicar la mitad del ancho para centrar */
    padding: 10px 20px;
  }

}

.button-up:hover {
  background-color: #fdc300;
  color: #000;
}

.button-up.visible {
  display: block;
}

