body {
    background-image: url("./assets/img/HOME-removebg-preview 2.png"), url("./assets/img/HOME-removebg-preview 3.png");
    background-size: 25%, 30%; /* Ajusta el tamaño según tu preferencia */
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    margin: 10%;
    display: flex;
    height: 100vh;
}
