body {
    background-image: url("./assets/img/HOME-removebg-preview 2.png"), url("./assets/img/HOME-removebg-preview 3.png");
    background-size: 25%, 30%; /* Ajusta el tamaño según tu preferencia */
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    margin: 10%;
    display: flex;
    height: 100vh;
}

.image-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url('./assets/img/informacion.png');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    margin: 1%;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.image-container {
    margin: 1.9%;
    display: flex;
    height: 38vh;
    width: 190.0%;
    background-size: contain; /* Agregamos esta propiedad */
    background-position: center; /* Centramos la imagen */
    background-repeat: no-repeat;
    justify-content: center;
}

/* Hacemos las imágenes dentro de .image-container responsive */
.image-container img {
    max-width: 100%;
    height: auto;
}
